<div class="container-fluid">
  <div class="about">
    <h1>关于本站</h1>
    <p>这是我学习 rails 开发编写的一个小项目，图片存储在七牛上，使用的比较重要的 gem 有：</p>
    <ul>
    <li><a href="https://github.com/blueimp/jQuery-File-Upload">jquery-fileupload-rails</a>, 批量上传图片的 jQuery 插件</li>
    <li><a href="https://github.com/plataformatec/devise">devise</a>, 用户注册、登录等</li>
    <li><a href="https://github.com/thoughtbot/paperclip">paperclip</a>, 上传文件管理</li>
    <li><a href="">paperclip-qiniu</a>, 图片存到七牛云上</li>
    </ul>
    <p>相册以及图片显示借鉴了百度百科和网易相册的方式</p>
    <p>网站源代码: <a href="https://github.com/abellong/gallery">https://github.com/abellong/gallery</a></p>
  </div>
</div>
